<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/user.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
    <header class="prof-field">
        <nav class="prof-cont">
            <ul>
                <li id="profile">👤</li>
                <li id="logout" style="display: none;">
                    <button onclick="logout()">Logout</button>
                </li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="upcoming">
            <h2>Appointments</h2>
        </div>
        <a href="confirmation.html">
            <button class="add-apt">Add Appointment</button>
        </a>
        <div class="info">
            <div class="user-info">
                <p><strong>Date:</strong></p>
                <p><strong>Time:</strong></p>
                <p><strong>Advisor:</strong></p>
                <p><strong>Details:</strong></p>
            </div>
            <div class="grp-cont">
                <button class="button-grp">Edit</button>
                <button class="button-grp">Cancel</button>
            </div>
        </div>
    </main>
</body>
</html>