@font-face {
    font-family: "jpAlva";
    src: url("../fonts/jpalva/jpalva-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/nunito-sans/nunito-sans-latin-400-normal.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/nunito-sans/nunito-sans-latin-700-normal.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-Italic-VariableFont_opsz\,wght.ttf");
    font-style: italic;
}

:root {
    --bcit-blue: #003c71;
    --bcit-yellow: #fff400;
    --link-color: #296cf6;
    --grey-border: 1px solid#f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: default;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    height: 150vh;
}

a {
    text-decoration: none;
}

.default {
    position: fixed;
    width: 100vw;
    border-bottom: var(--grey-border);
}

.default li {
    cursor: pointer;
    display: flex;
}

.portalnav {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.portalnav ul {
    display: flex;
    list-style: none;
    position: absolute;
    right: 150px;
    height: 100%;
}

.portalnav li {
    padding: 0 8px;
    font-size: 35px;
    transition: all .15s ease-in-out;
    border: 2px solid transparent;
}

.portalnav a {
    color: #fff;
}

.portalnav li:hover {
    background-color: var(--bcit-yellow);
}

.portalnav li:hover a {
    color: var(--bcit-blue);
}

div.logo {
    margin-right: 28px;
}

.sitenav {
    display: flex;
    padding: 10px 97px 10px 150px;
}

svg.logo {
    height: 74px;
    max-height: 78px;
    width: 78px;
}

.sitenav ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.sitenav li {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 5px;
    padding: 0 10px;
    height: 35px;
}

.sitenav a {
    color: var(--bcit-blue);
    border-bottom: 2px solid transparent;
}

.sitenav li:hover a {
    border-bottom: 2px solid var(--bcit-yellow);
    color: var(--link-color);
}

textarea {
    resize: none;
}

main {
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 114px);
    padding-top: 114px;
    background-color: #f9f9f9;
    text-align: left;
    flex-direction: column;
    padding: 80px 0 0 150px;
}

.type-option {
    border: 1px solid white;
    background-color: white;
    padding: 30px;
    gap: 30px;
    flex-direction: column;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.type-option {
    width: 700px;
    height: 100%;
}

.option {
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid;
}

.option:last-child {
    border-bottom: none;
}

.option:hover, .option.selected {
    background-color: var(--bcit-blue);
    color: white;
}

.purpose {
    text-align: center;
}

.type {
    text-align: flex-start;
    align-items: center;
    align-items: center;
    background: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.5);
    width: 755px;
}

.schedule {
    margin-top: 12px;
}

main h1 {
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.purpose, .type, .schedule {
    margin-bottom: 20px;
}

.purpose h1 {
    margin-top: 10px;
    font-size: 25;
}

button {
    padding: 12px 30px;
}

button {
    padding: 8px 8px;
    font-size: 10px;
    border: 1px solid;
    cursor: pointer;
    justify-content: flex-end;
}

.type-option p {
    font-size: 20px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}