#logout {
    transition: all 0.2s ease-in-out;
}

#logout {
    position: absolute;
    top: 50px; /* adjust as needed to drop it below the emoji */
    right: 0; /* align to right side under the emoji */
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 100;
}

.prof-cont {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bcit-blue);
    border-bottom: var(--grey-border);
}

.prof-cont ul {
    display: flex;
    list-style: none;
    position: absolute;
    right: var(--margin);
    height: 100%;
}

.prof-cont li {
    padding: 0 8px;
    font-family: "jpAlva", Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
    border: 1px solid transparent;
}

.prof-cont a {
    color: #fff;
}

.prof-cont li:hover {
    background-color: var(--bcit-yellow);
}

.prof-cont li:hover a {
    color: var(--bcit-blue);
}

.prof-field {
    background-color: var(--bcit-blue);
}

.profile {
    justify-content: end;
}