main {
    display: flex;
    text-align: left;
    padding: 20px 0 0 150px;
}

.receipt {
    text-align: flex-start;
    width: 100%;
    border: 1px solid black;
    padding: 15px 20px;
}

button {
    padding: 8px 10px;
    font-size: 10px;
    border: 1px solid;
    cursor: pointer;
    justify-content: flex-end;
}
.bttn-grp {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}


.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 10px;
    font-size: 15px;
    border: 1px solid;
    cursor: pointer;
    justify-content: flex-end;
    margin-top: 20px;
}


/*

button {
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid;
    cursor: pointer;
    justify-content: flex-end;
}

*/