:root {
    --bcit-blue: #003c71;
    --bcit-yellow: #fff400;
    --link-color: #296cf6;
    --grey-border: 1px solid#f2f2f2;
    --divider: 1px solid #d6d6d6;
    --header-height: 140px;
    --margin: 150px;
    --cont-top: calc(var(--header-height) + 25px);
}

@font-face {
    font-family: "jpAlva";
    src: url("../fonts/jpalva/jpalva-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/nunito-sans/nunito-sans-latin-400-normal.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/nunito-sans/nunito-sans-latin-700-normal.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-Italic-VariableFont_opsz\,wght.ttf");
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.default {
    position: fixed;
    width: 100%;
    border-bottom: var(--grey-border);
    z-index: 1;
    cursor: default;
}

.default li {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.portalnav {
    position: relative;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bcit-blue);
    border-bottom: var(--grey-border);
}

.portalnav ul {
    display: flex;
    list-style: none;
    position: absolute;
    right: var(--margin);
    height: 100%;
}

.portalnav li {
    padding: 0 8px;
    font-family: "jpAlva", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.portalnav a {
    color: #fff;
}

.portalnav li:hover {
    background-color: var(--bcit-yellow);
}

.portalnav li:hover a {
    color: var(--bcit-blue);
}

div.logo {
    margin-right: 28px;
}

.sitenav {
    display: flex;
    padding: 10px 97px 10px var(--margin);
    background-color: #fff;
}

svg.logo {
    height: 74px;
    max-height: 78px;
    width: 78px;
}

.sitenav ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.sitenav li {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 5px;
    padding: 0 10px;
    height: 35px;
}

.sitenav a {
    color: var(--bcit-blue);
    border-bottom: 2px solid transparent;
}

.sitenav li:hover a {
    border-bottom: 2px solid var(--bcit-yellow);
    color: var(--link-color);
}

#logout-button {
    margin-left: 5px;
    position: relative;
}

.prof-cont {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bcit-blue);
    border-bottom: var(--grey-border);
}

.prof-cont ul {
    display: flex;
    list-style: none;
    position: absolute;
    right: var(--margin);
    height: 100%;
}

.prof-cont li {
    padding: 0 8px;
    font-family: "jpAlva", Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
    border: 1px solid transparent;
}

.prof-cont a {
    color: #fff;
}

.prof-cont li:hover {
    background-color: var(--bcit-yellow);
}

.prof-cont li:hover a {
    color: var(--bcit-blue);
}

.advisorlogin-text a {
    color: var(--link-color);
    text-decoration: underline;
}