body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 114px);
    text-align: left;
    flex-direction: column;
    padding: 20px 0 0 150px;
}

.upcoming {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: var(--bcit-blue);
    font-size: 2rem;
}

h3 {
    text-align: center;
}

.info {
    display: inline-block;
    background: white;
    padding: 15px 20px;
    margin-bottom: 30px;
    border-radius: 0px;
    min-width: 30%;
    border: 1px solid black;
    box-sizing: border-box;
    vertical-align: top;
}

.user-info {
    width: 100%;
    font-size: 1.0rem;
    padding: 0 5px;
    margin: 5px 0;
}

.user-info p {
    font-size: 15px;
    margin-top: 5px;
}

textarea {
    resize: both;
    min-width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-choices,
button {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: fit-content;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--bcit-blue);
    border: 1px solid var(--bcit-blue);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
}

.button-choices:hover,
button:hover,
.modal-content button:hover {
    background-color: var(--link-color);
    border-color: var(--link-color);
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 0px;
    width: 30%;
    text-align: center;
    position: relative;
}

.modal-content button {
    width: 100px;
    display: inline-block;
}

.close,
.close-button {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--link-color);
    text-decoration: none;
}

.cancel-btn {
    color: #ff4d4d;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.cancel-btn:hover {
    text-decoration: underline;
}

.prof-cont {
    display: flex;
    align-items: center;
    position: relative;
}

#profile {
    cursor: pointer;
    display: inline-block;
    margin-left: 0;
}

#profile:hover {
    background-color: var(--link-color);
    border-color: var(--link-color);
}

#logout {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    margin-top: 20px;
    margin-left: 75%;
    padding: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

#logout button:hover {
    background-color: var(--link-color);
    border-color: var(--link-color);
}