@font-face {
    font-family: "jpAlva";
    src: url("../fonts/jpalva/jpalva-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/nunito-sans/nunito-sans-latin-400-normal.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/nunito-sans/nunito-sans-latin-700-normal.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/DMSans-Italic-VariableFont_opsz\,wght.ttf");
    font-style: italic;
}

:root {
    --bcit-darkblue: #003c71;
    --bcit-yellow: #fff400;
    --bcit-blue: #296cf6;
    --bcit-lightblue: #1e88e5;
    --bcit-white: #f2f2f2;
    --grey-border: 1px solid #f2f2f2;
}


@media (max-width: 800px) {
    body {
        height: 350vh;
        overflow: hidden;
        width: 100%;
    }
}

* {
    box-sizing: border-box;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main Body */
body {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

a, 
ul li {
    text-decoration: none;
    list-style-type: none;
}

/* Navigation bar */
.default {
    top: 0;
    position: fixed;
    width: 100vw;
    border-bottom: var(--grey-border);
    background-color: white;
    z-index: 1;
}

.default li {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.portalnav {
    position: relative;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bcit-darkblue);
    border-bottom: var(--grey-border);
}

.portalnav ul {
    display: flex;
    position: absolute;
    right: 150px;
    height: 100%;
}

.portalnav li {
    padding: 0 8px;
    font-family: "jpAlva", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .15s ease-in-out;
}

.portalnav a {
    color: #fff;
}

.portalnav li:hover {
    background-color: var(--bcit-yellow);
}

.portalnav li:hover a {
    color: var(--bcit-darkblue);
}

div.logo {
    margin-right: 28px;
}

.sitenav {
    display: flex;
    padding: 10px 97px 10px 150px;
}

svg.logo {
    height: 74px;
    max-height: 78px;
    width: 78px;
}

.sitenav ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.sitenav li {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 5px;
    padding: 0 10px;
    height: 35px;
}

.sitenav a {
    color: var(--bcit-darkblue);
    border-bottom: 2px solid transparent;
}

.sitenav li:hover a {
    border-bottom: 2px solid var(--bcit-yellow);
    color: var(--bcit-blue);
}

/* Appointments */
main {
    margin-top: 140px; /* Gives enough space to not overlap nav bar */
}

main,
footer {
    min-width: 92%;
    margin-left: auto; /* Centers main body */
    margin-right: auto;
}

#appointments {
    color: var(--bcit-darkblue);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: var(--grey-border); /* Temp border */
}

#appointments h1 {
    margin-bottom: 23px;
}

#appointments .im-lazy {
    display: inline;
    margin-bottom: 23px;
}

#appointments a {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    text-decoration: none;
    color: var(--bcit-blue);
    width: 15rem;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--white-color);
    border: 1px solid var(--bcit-blue);
    text-transform: uppercase;
}

#appointments a:hover {
    transition: 0.3s ease-in-out;
    background-color: var(--bcit-blue);
    color: var(--bcit-white);
}

span.btn-text {
    padding-top: 4px;
    margin-right: auto;
}

#appointments a .material-symbols-outlined:after {
    content: "\e5cc";
    font-size: 1.2rem;
}

#appointments a:hover .material-symbols-outlined {
    transform: translateX(4px);
    transition: all 0.2s ease 0.3s;
}

/* Pictures */
#pictures {
    border: var(--grey-border);
    color: var(--bcit-darkblue);
    padding: 20px;
}

#pictures h2 {
    margin-bottom: 23px;
}

#pictures ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
}

#pictures li {
    border: 1px solid black; /* Placeholder, can remove after adding images */
    border-radius: 10px;
    padding: 12rem 5px 12rem;
    text-align: center;
}

/* Services */
#services {
    color: var(--bcit-darkblue);
    padding: 20px;
    border: var(--grey-border);
    display: flex;
}

.txt-img {
    margin: auto;
}

.txt-img h1 {
    border-bottom: 3px solid var(--bcit-yellow);
}
.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    list-style-type: none;
}

.details li {
    border: 0.5px solid rgb(203, 210, 222);
    background-color: var(--bcit-white);
    padding: 5rem 10rem 5rem;
    text-align: center;
}

.details li:hover {
    background-color: var(--bcit-darkblue);
    color: var(--bcit-white);
    transition: 0.3s ease-in-out; 
}

/* Footer */
.site-footer {
    display: flex;
    color: var(--bcit-darkblue);
}

.site-footer section {
    padding: 46px 39px 34px;
    width: 25%;
    border: var(--grey-border);
    display: inline;
    line-height: 2em;
}

.site-footer h3 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 23px;
    letter-spacing: 2.21px;
    padding-left: 50px;
    position: relative;
}

.site-footer ul {
    list-style-type: none;
    font-size: 18px;
}

.site-footer li {
    margin-bottom: 2px;
}

.site-footer a {
    color: var(--bcit-blue);
}

.site-footer a:hover {
    color: var(--bcit-darkblue);
    transition: 0.3s ease-in-out;
}

.site-footer .bar:before {
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    width: 32px;
    margin-top: 15px;  
    background-color: var(--bcit-darkblue);
    position: absolute;
}

.site-footer .campuses {
    margin-bottom: 23px;   
}

.site-footer .legal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 13px;
}