* {
    scroll-behavior: smooth;
}

/* to top button */
.to-top {
    position: fixed;
    bottom: 20px;
    right: 35px;
    color: var(--bcit-blue);
    cursor: pointer;
    opacity: .5;
    z-index: 1;
    transition: .2s ease all;
    display: flex;
    flex-direction: column;
}

.to-top p {
    display: none;
    color: var(--bcit-blue) !important;
}

.to-top svg {
    fill: var(--bcit-blue);
}

.to-top:hover {
    opacity: 1;
}

.services-container {
    margin-top: 138px;
    top: var(--cont-top);
    display: grid;
    grid-template-columns: 0.249fr 0.75fr;
    border: var(--grey-border);
    border-bottom: none;
    min-width: 555px;
}

.services-container ul {
    list-style: none;
}

.cat-list {
    color: var(--bcit-blue);
    font-weight: 600;
    margin-top: 10px;
    text-wrap: nowrap;
    position: sticky;
    padding: 20px;
    top: 150px;
}

.cat-list li {
    margin-bottom: 18px;
    font-size: 1.25rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    line-height: 1.3rem;
    transition: .1s ease all;
    z-index: 1;
}

.cat-list ul {
    z-index: 1;
}

.cat-list a {
    color: var(--bcit-blue);
}

.cat-list li span {
    cursor: pointer;
}

.cat-list li span:hover {
    border-bottom: 2px solid var(--bcit-index-yellow);
}

.service-cat {
    padding: 15px 20px 0 50px;
    border-left: var(--grey-border);
    min-width: 350px;
}

.service-cat h1 {
    color: var(--bcit-blue);
    margin-bottom: 15px;
    font-weight: 600;
}

.blurb {
    margin-bottom: 40px;
}

.blurb p {
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: wrap;    
}

.directory {
    margin-bottom: 50px;
    scroll-margin: var(--cont-top);
}

.cat-name {
    color: var(--bcit-blue);
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
}

.advisor {
    margin-bottom: 2rem;
}

.advisor p {
    font-size: 1rem;
    line-height: 1.6;
}

.advisor a {
    display: block;
    width: fit-content;
}

.email, .email:visited {
    color: var(--link-color);
    transition: .1s ease all;
}

.email:hover {
    opacity: .7;
}

.book-btn {
    width: fit-content;
    margin: 7px 0;
    padding: 8px;
    background-color: var(--bcit-blue);
    border: 1px solid var(--bcit-blue);
    transition: all .1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: .95em;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
}

.book-btn:hover {
    background-color: var(--link-color);
    border-color: var(--link-color);
    color: #fff;
}

.book-btn:visited {
    color: var(--bcit-blue);
}

.helpline a, .helpline a:visited {
    color: var(--link-color);
    border-bottom: 1px solid transparent;
    transition: .1s ease all;
}

.helpline a:hover {
    border-bottom: 1px solid var(--link-color) !important;
}

.number {
    font-weight: 600;
}

@media screen and (max-width: 960px) {
    main, footer {
        padding: 0;
    }

    .site-footer {
        min-width: 555px;
    }

    .cat-list li {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 420px) {
    .to-top {
        bottom: 5px;
        right: 5px;
    }
    .cat-list-container {
        display: none;
    }  
    
    .services-container,
    .site-footer {
        min-width: 345px;
    }

    .service-cat {
        padding: 0;
    }
}

.go-back {
    width: fit-content;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: var(--bcit-blue);
    border: 1px solid var(--bcit-blue);
    transition: all .1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
}

.go-back:hover{
    background-color: var(--link-color);
    border-color: var(--link-color);
    color: #fff;
}