{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/booking.css')}}"/>
{% endblock %}

{% block title %}
Book Appointment - BCIT
{% endblock %}
{% block content %}
<a href="{{url_for('main.services')}}"><button class="go-back">Go Back</button></a>
<form action="/booking/confirm" method="post">
    <div class="detail-cont name">
        <h2>Booking appointment with:</h2>
        <p>{{ selected_advisor.name }} {{ selected_advisor.surname }}</p>
    </div>

     <!-- Hidden input to include advisor_id -->
        <input type="hidden" name="appt_advisor" value="{{ selected_advisor.id }}">

    <div class="detail-cont purpose">
        <h3>Appointment Purpose:</h3>
        <textarea id="purpose-field" name="appt_purpose" rows="5" placeholder="State the purpose of your visit here..." required></textarea>
    </div>
    <div class="detail-cont type">
        <h3>Appointment type:</h3>
        <select class="appt-type" name="appt_type" size="2" required>
            <option value="In-person">In-Person</option>
            <option value="Phone-call">Phone Call</option>
        </select>
    </div>
    <div class="detail-cont schedule">
        <h3>Available dates:</h3>
        <input id="calendar" type="date" name="appt_date" min="2025-05-05" required>
    </div>
    <div class="detail-cont time">
        <h3>Available times:</h3>
        <select name="appt_time" id="time" required>
    {% set all_times = ["08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00"] %}
    {% for time in all_times %}
    <option value="{{ time }}">{{ time }}</option>
    {% endfor %}
</select>

    </div>
        <button class="continue-btn">Continue</button>
</form>

{% endblock %}