<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Welcome to BCIT Advisor Booking</h2>
        <p>Login to BCIT Advisor Booking</p>
        <form method="post" action="/login">
            <label>Email:</label>
            <input type="email" placeholder="name@my.bcit.ca" name="email_address_data" required>

            <label>Password:</label>
            <input type="password" placeholder="••••••••" name="password_data" required>

            <button type="submit">Login</button>
        </form>
        <p class="advisorlogin-text">
            Advisors: <a href="">Advisor Login Portal</a>
        </p>
    </div>     
</body>
</html>