{% extends "basedashboard.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/testdashboard.css">
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<main> 
    <h1>Welcome, {{ user.name }} {{ user.surname }}</h1>
    <div class="upcoming">
        {% if appt_length|length > 0 %}
        <a href="{{ url_for('main.services') }}">
            <button>Book an Appointment</button>
        </a>
        <h2>Upcoming Appointments</h2>
        {% else %}
        <h2>No Appointments</h2>
        <a href="{{ url_for('main.services') }}">
            <button>Book an Appointment</button>
        </a>
        {% endif %}
    </div>
    {% for appt in appts %}
    <div class="info">
        <div class="user-info">
            <p><strong>Date: 
                </strong>
                <br>
                {{ appt.date }}</p>
            <p><strong>Time:</strong>
                <br>
                {{ appt.start_time }} - {{ appt.end_time }}
            </p>
            <p><strong>Advisor Name: </strong>
                <br>
                {{ advisor.name }} {{ advisor.surname }} 
            </p>
            <p><strong>Details: </strong>
                <br>
                {{ appt.comment }}

            </p>
            <div class="button-group">
                <a href="{{ url_for('dashboard.cancel_appt', appt_id=appt.id) }}"><button>Cancel</button></a>
                <a href="comment.html"><button>Continue</button></a> 
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}