{% extends "basedashboard.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/testdashboard.css">
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<main> 
    {% if not appts %}
    <h2>No Appointments</h2>
    {% else %}
    <h1>Welcome, {{ user.name }} {{ user.surname }}</h1>
    <div class="upcoming">
        <h2>Upcoming Appointments</h2>
    </div>
    {% for appt in appts %}
    <div class="info">
        <div class="user-info">
            <p><strong>Date:{{ appt.date }}</strong></p>
            <p><strong>Time: {{ appt.start_time }} - {{ appt.end_time }}</strong></p>
            <p><strong>Advisor Name: {{ appt.advisor_id.name }}</strong></p>
            <p><strong>Details:</strong></p>
            <div class="button-group">
                <button>Cancel</button>
                <a href="comment.html"><button>Continue</button></a> 
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</main>
{% endblock %}