{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/testadvisor.css">
{% endblock %}

{% block title %}
Advisor Login Portal — BCIT
{% endblock %}

{% block content %}
<main>    
    <div class="login-container">
        <h2>Welcome to BCIT Advisor Booking</h2>
        <p>Advisor Login Portal</p>
        <form>
            <label>Email:</label>
            <input type="email" placeholder="name@my.bcit.ca" required>

            <label>Password:</label>
            <input type="password" placeholder="••••••••" required>

            <button type="submit">Login</button>
        </form>
        <p class="advisorlogin-text">
        <p class="forgotPassword"> <a href="forgot.html"> Forgot Password?</a></p>
        </p>
    </div>
</main>     
{% endblock %}