{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/testforgot.css">
{% endblock %}

{% block title %}
Forgot Password — BCIT
{% endblock %}

{% block content %}
<main>
    <div class="input-container">
        <h2>Forgot your Password?</h2>
        <p>Please enter your recovery email address below. An email will be sent to you with instructions to reset your password.</p>
        <form>
            <label>Recovery Email:</label>
            <input type="email" placeholder="name@address.com" required>
            <button type="submit">Submit</button>
        </form>
        <p class="advisorlogin-text">
        <p class="contact-service-link"><a href="https://www.bcit.ca/it-services/">Contact IT Services</a></p>
        </p>
    </div>
</main>
{% endblock %}