{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/student_login.css') }}">
{% endblock %}

{% block title %}
Student Login Portal — BCIT
{% endblock %}

{% block content %}
<!-- please make ur indentations and tag closing consistent, i beg you -->
<main>
    <script src="{{ url_for('static', filename='js/student_email_error_handler.js') }}" defer></script>
    <div class="login-container">
        <h2>Welcome to BCIT Advisor Booking</h2>
        <p>Student Login Portal</p>
        <form method="post" action="{{ url_for('auth.student_login') }}">
            {% if error_code %}                
                <h4 class="error-msg">Error {{error_code}}, {{error_msg}}</h4>
            {% endif %}


            <!-- THIS IS TO CATCH THE NEXT PARAM IN POST REQUEST. READ DOC.md FOR MORE INFORMATION -->
            {% if request.args.get('next') %}
                <input type="hidden" name="next" value="{{ request.args.get('next') }}">
            {% endif %}
            
            <label>Email:</label>
            <input type="email" placeholder="name@my.bcit.ca" name="email_address_data" required>

            <label>Password:</label>
            <input type="password" placeholder="••••••••" name="password_data" required>
            
            <button type="submit">Login</button>
            <br>
            <p class="forgotPassword"><a href="{{ url_for('auth.forgot_pass') }}">Forgot Password?</a></p>
        </form>
        <p class="advisorlogin-text">
        <b> For Advisors:</b> <a href="{{ url_for('auth.advisor_login', next=request.args.get('next')) }}"">Advisor Login Portal</a>
        </p>
        <h2>{{ err_code }}</h2>
        <p>{{ err_msg }}</p>
    </div>
</main>     
{% endblock %}